
#general1{
    margin-right:3px;
    margin-top: 10px;
    width:320px ;
    height:320px;
    background-color:red;
    display:flex;
	justify-content: center;
	position:relative;
	
}
#subgeneral12{    
    
    width:80px ;
    height:80px;
    background-color: yellow;
    z-index:1px;
	
}
#subgeneral11{
	
    margin: auto auto;    
    width:160px ;
    height:160px;
    background-color: purple;
    position:relative;
}
#general2{
    margin-right: 3px;
    margin-bottom: 20px;
    width:320px ;
    height:320px;
    background-color: blue;
    position:relative;
    margin-top: 10px;
}

#subgeneral21{
    
    
    width:80px ;
    height:80px;
    background-color: black;
    position: left;
}

#subgeneral22{
    margin-top: 0px;
    width: 160px;
    height: 160px;
    position: relative;
    left:80px;
    background-color: green;

}